@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 43 45% 94%; /* #F5F1E9 */
    --foreground: 60 1% 34%; /* #585753 */
    --card: 0 0% 100%;
    --card-foreground: 203 93% 26%; /* #06517f */
    --popover: 0 0% 100%;
    --popover-foreground: 203 93% 26%;
    --primary: 193 100% 24%; /* #005F78 */
    --primary-foreground: 38 65% 56%; /* #d7a547 */
    --secondary: 213 27% 92%;
    --secondary-foreground: 203 93% 26%;
    --muted: 213 27% 90%;
    --muted-foreground: 60 1% 44%;
    --accent: 190 99% 27%; /* #016e86 */
    --accent-foreground: 38 65% 56%; /* #d7a547 */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 213 27% 88%;
    --input: 213 27% 88%;
    --ring: 38 65% 56%;
  }
 
  .dark {
    --background: 220 10% 10%;
    --foreground: 60 1% 80%;
    --card: 220 10% 15%;
    --card-foreground: 203 93% 76%;
    --popover: 220 10% 15%;
    --popover-foreground: 203 93% 76%;
    --primary: 203 93% 76%;
    --primary-foreground: 38 65% 66%;
    --secondary: 220 10% 20%;
    --secondary-foreground: 203 93% 76%;
    --muted: 220 10% 20%;
    --muted-foreground: 60 1% 60%;
    --accent: 190 99% 37%;
    --accent-foreground: 38 65% 66%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 10% 25%;
    --input: 220 10% 25%;
    --ring: 38 65% 66%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
    .bg-accent {
        background-color: hsl(var(--accent));
        color: hsl(var(--accent-foreground));
    }
    .hover\:bg-accent\/90:hover {
        background-color: hsl(var(--accent) / 0.9);
        color: hsl(var(--accent-foreground));
    }
}
